fastapi
uvicorn[standard]
pydantic
python-dotenv
pandas
numpy
scikit-learn
xgboost
mlflow
evidently
prometheus-client
prometheus-fastapi-instrumentator
python-multipart
pytest
httpx
joblib
matplotlib
seaborn
jupyter
ipykernel
xlrd
